<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <%= favicon_link_tag 'favicon.png' %>

    <title>Dashboard</title>

    <link href="/assets/dashboard/switchery.min.css" rel="stylesheet" />
    <link href="/assets/dashboard/jquery.circliful.css" rel="stylesheet" type="text/css" />

    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/dashboard/style.css" rel="stylesheet" type="text/css">

    <script src="/assets/dashboard/modernizr.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>


<body class="fixed-left">

    <%= render '/layouts/nav_bar' %>


    <!-- ========== Left Sidebar Start ========== -->
    <%= render '/layouts/side_bar' %>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->                      
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">

                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <h4 class="page-title"> Bem-Vindo! </h4>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="#">[Instituição]</a></li>
                                <li class="breadcrumb-item">Dashboard</li>
                            </ol>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="widget-simple-chart text-right card-box">
                            <div class="circliful-chart" data-dimension="90" data-text="100%" data-width="5" data-fontsize="14" data-percent="100" data-fgcolor="#5fbeaa" data-bgcolor="#505A66"></div>
                            <h3 class="text-success counter m-t-10">2562</h3>
                            <p class="text-muted text-nowrap m-b-10">Total de cadastros</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="widget-simple-chart text-right card-box">
                            <div class="circliful-chart" data-dimension="90" data-text="75%" data-width="5" data-fontsize="14" data-percent="75" data-fgcolor="#3bafda" data-bgcolor="#505A66"></div>
                            <h3 class="text-primary counter m-t-10">5685</h3>
                            <p class="text-muted text-nowrap m-b-10">Cadastros por dia</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="widget-simple-chart text-right card-box">
                            <div class="circliful-chart" data-dimension="90" data-text="49%" data-width="5" data-fontsize="14" data-percent="49" data-fgcolor="#98a6ad" data-bgcolor="#505A66"></div>
                            <h3 class="text-inverse counter m-t-10">62</h3>
                            <p class="text-muted text-nowrap m-b-10"> Cadastros durante o mês</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">TOTAL DE DOAÇÕES</h4>

                            <div class="widget-chart text-center">
                                <div id="sparkline1"></div>
                                <ul class="list-inline m-t-15 mb-0">
                                    <li>
                                        <h5 class="text-muted m-t-20">Target</h5>
                                        <h4 class="m-b-0">$40</h4>
                                    </li>
                                    <li>
                                        <h5 class="text-muted m-t-20">Last week</h5>
                                        <h4 class="m-b-0">$20</h4>
                                    </li>
                                    <li>
                                        <h5 class="text-muted m-t-20">Last Month</h5>
                                        <h4 class="m-b-0">$30</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">Doações anuais</h4>

                            <div class="widget-chart text-center">
                                <div id="sparkline2"></div>
                                <ul class="list-inline m-t-15 mb-0">
                                    <li>
                                        <h5 class="text-muted m-t-20">Meta</h5>
                                        <h4 class="m-b-0">$1000</h4>
                                    </li>
                                    <li>
                                        <h5 class="text-muted m-t-20">Semana Passada</h5>
                                        <h4 class="m-b-0">$523</h4>
                                    </li>
                                    <li>
                                        <h5 class="text-muted m-t-20">Mês Passado</h5>
                                        <h4 class="m-b-0">$965</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <div class="card-box">
                            <h4 class="header-title m-t-0 m-b-30">DOAÇÕES DIÁRIAS</h4>

                            <div class="widget-chart text-center">
                                <div id="sparkline3"></div>
                                <ul class="list-inline m-t-15 mb-0">
                                    <li>
                                        <h5 class="text-muted m-t-20">Meta</h5>
                                        <h4 class="m-b-0">$1,84,125</h4>
                                    </li>
                                    <li>
                                        <h5 class="text-muted m-t-20">Ontem</h5>
                                        <h4 class="m-b-0">$50,230</h4>
                                    </li>
                                    <li>
                                        <h5 class="text-muted m-t-20">
                                        </h5>
                                        <h4 class="m-b-0">$87,451</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->


                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <h4 class="header-title m-t-0">Últimos cadastros</h4>
                            <p class="text-muted m-b-25 font-13">
                                Your awesome text goes here.
                            </p>

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Data</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                            <th>Assign</th>
                                            <th>Assign</th>
                                            <th>Assign</th>
                                            <th>Assign</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Minton Admin v1</td>
                                            <td>01/01/2017</td>
                                            <td>26/04/2017</td>
                                            <td><span class="badge badge-info">Released</span></td>
                                            <td>Coderthemes</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Minton Frontend v1</td>
                                            <td>01/01/2017</td>
                                            <td>26/04/2017</td>
                                            <td><span class="badge badge-success">Released</span></td>
                                            <td>Minton admin</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Minton Admin v1.1</td>
                                            <td>01/05/2017</td>
                                            <td>10/05/2017</td>
                                            <td><span class="badge badge-pink">Pending</span></td>
                                            <td>Coderthemes</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Minton Frontend v1.1</td>
                                            <td>01/01/2017</td>
                                            <td>31/05/2017</td>
                                            <td><span class="badge badge-purple">Work in Progress</span>
                                            </td>
                                            <td>Minton admin</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Minton Admin v1.3</td>
                                            <td>01/01/2017</td>
                                            <td>31/05/2017</td>
                                            <td><span class="badge badge-warning">Coming soon</span></td>
                                            <td>Coderthemes</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <!-- end row -->

            </div>
            <!-- end container -->
        </div>
        <!-- end content -->

        <footer class="footer">
            2018 © Minton <span class="hide-phone">- até mais</span>
        </footer>

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
    <div class="side-bar right-bar">
        <div class="">
            <ul class="nav nav-tabs tabs-bordered nav-justified">
                <li class="nav-item">
                    <a href="#home-2" class="nav-link active" data-toggle="tab" aria-expanded="false">
                        Activity
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#messages-2" class="nav-link" data-toggle="tab" aria-expanded="true">
                        Settings
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home-2">
                    <div class="timeline-2">
                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted">5 minutes ago</small>
                                <p><strong><a href="#" class="text-info">John Doe</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong></p>
                            </div>
                        </div>

                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted">30 minutes ago</small>
                                <p><a href="#" class="text-info">Lorem</a> commented your post.</p>
                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                            </div>
                        </div>

                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted">59 minutes ago</small>
                                <p><a href="#" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                            </div>
                        </div>

                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted">1 hour ago</small>
                                <p><strong><a href="#" class="text-info">John Doe</a></strong>Uploaded 2 new photos</p>
                            </div>
                        </div>

                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted">3 hours ago</small>
                                <p><a href="#" class="text-info">Lorem</a> commented your post.</p>
                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                            </div>
                        </div>

                        <div class="time-item">
                            <div class="item-info">
                                <small class="text-muted">5 hours ago</small>
                                <p><a href="#" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="messages-2">

                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0 font-15">Notifications</h5>
                            <p class="text-muted m-b-0"><small>Do you need them?</small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0 font-15">API Access</h5>
                            <p class="m-b-0 text-muted"><small>Enable/Disable access</small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0 font-15">Auto Updates</h5>
                            <p class="m-b-0 text-muted"><small>Keep up to date</small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                        </div>
                    </div>

                    <div class="row m-t-20">
                        <div class="col-8">
                            <h5 class="m-0 font-15">Online Status</h5>
                            <p class="m-b-0 text-muted"><small>Show your status to all</small></p>
                        </div>
                        <div class="col-4 text-right">
                            <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /Right-bar -->

</div>
<!-- END wrapper -->



<script>
    var resizefunc = [];
</script>

<!-- Plugins  -->
<script src="/assets/dashboard/jquery.min.js"></script>
<script src="/assets/dashboard/popper.min.js"></script><!-- Popper for Bootstrap -->
<script src="/assets/dashboard/bootstrap.min.js"></script>
<script src="/assets/dashboard/detect.js"></script>
<script src="/assets/dashboard/fastclick.js"></script>
<script src="/assets/dashboard/jquery.slimscroll.js"></script>
<script src="/assets/dashboard/jquery.blockUI.js"></script>
<script src="/assets/dashboard/waves.js"></script>
<script src="/assets/dashboard/wow.min.js"></script>
<script src="/assets/dashboard/jquery.nicescroll.js"></script>
<script src="/assets/dashboard/jquery.scrollTo.min.js"></script>
<script src="/assets/dashboard/switchery.min.js"></script>

<!-- Counter Up  -->
<script src="/assets/dashboard/jquery.waypoints.min.js"></script>
<script src="/assets/dashboard/jquery.counterup.min.js"></script>

<!-- circliful Chart -->
<script src="/assets/dashboard/jquery.circliful.min.js"></script>
<script src="/assets/dashboard/jquery.sparkline.min.js"></script>

<!-- skycons -->
<script src="/assets/dashboard/skycons.min.js" type="text/javascript"></script>

<!-- Page js  -->
<script src="/assets/dashboard/jquery.dashboard.js"></script>

<!-- Custom main Js -->
<script src="/assets/dashboard/jquery.core.js"></script>
<script src="/assets/dashboard/jquery.app.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });
        $('.circliful-chart').circliful();
    });

            // BEGIN SVG WEATHER ICON
            if (typeof Skycons !== 'undefined'){
                var icons = new Skycons(
                    {"color": "#3bafda"},
                    {"resizeClear": true}
                    ),
                list  = [
                "clear-day", "clear-night", "partly-cloudy-day",
                "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                "fog"
                ],
                i;

                for(i = list.length; i--; )
                    icons.set(list[i], list[i]);
                icons.play();
            };

        </script>


    </body>
    </html>