body {
    background-color: #323b44;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #98a6ad !important;
}

main {
    flex: 1 0 auto;
}

.esquerda{
    margin-right: 35px !important;
}

.card .card-title {
    font-size: 40px;

}

.fontes2 {
    font-size: 10px;
}

.baixo{

    padding-bottom: 4%;
    margin-top:2%;
    border-color: transparent;
    border-style: groove;
    border-width: thin;

}

.entrar{
    font-size: 15px;
}

.baixo-senha{

    padding-bottom: 9%;
    margin-top:6%;
    border-color: transparent;
    border-style: groove;
    border-width: thin;

}

.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle
}

body {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}

main {
 flex: 1 0 auto;
}

.verde1{
    background-color: #473198 !important;
    opacity: 0.9;
}

.verde2{
    background-color: #e4fde1 !important;
}

.transparente{
    background-color: transparent;
}

.azul-escuro {
    background-color: #004e64 !important;
}

@media screen and (max-width: 1023px) {
    height: 350px !important;
    padding-top: 62px !important;
}

.inner_ed2ug6 {
    vertical-align: middle !important;
    overflow: hidden !important;
    text-align: center !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
}

.whiteButtonContainer{
    margin-top: 4px !important;
}

.button1{
    font-size: 15px !important;
    font-family: inherit !important;
    padding: 0px 20px !important;
    margin: 0px !important;
    position: relative !important;
    display: -moz-box !important;
    display: -ms-inline-flexbox !important;
    display: -webkit-box !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
    border-style: solid !important;
    box-sizing: border-box !important;
    align-items: center !important;
    flex-shrink: 0 !important;
    white-space: nowrap !important;
    line-height: normal !important;
    font-weight: bold !important;
    cursor: pointer !important;
    appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
    height: 48px !important;
    -moz-box-sizing: border-box !important;
    -webkit-align-items: center !important;
    -webkit-flex-shrink: 0 !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    -ms-flex-negative: 0 !important;
}

.raiz {

    background-position: center !important;
    background-size: cover !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center !important;
    height: 500px !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    -webkit-justify-content: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-pack: center !important;
    -webkit-box-pack: center !important;
}

@media screen and (max-width: 1023px) {
    font-size: 24px !important;
}

.callout {
    font-size: 36px !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
}

@media screen and (max-width: 1023px) {
    font-size: 16px !important;
}

.callout2 {
    font-size: 18px !important;
    font-weight: normal !important;
    margin-bottom: 0px !important;
    margin-left: 250px;
    margin-right: 250px;
}

.quadro{
 padding: 10px;
 padding-left: 20px;
 padding-right: 20px;
 color: #FFFFFF;      
 border-radius: 17px; 
}

.quadro-cadastro{
    padding: 30px;
    padding-top: 2px;    
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;   
    border-radius: 17px;

}

.quadro-editar-cadastro{
    padding: 48px;
    padding-top: 2px;    
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;   
    border-radius: 17px;
}


.label{
    color: #FFFFFF !important;
    font-family: 'Comfortaa Bold' sans-serif;
    font-size: 17.5px;
}

.modal {
  max-height: 90%;
}

.modal-form-row {
  margin-bottom: 0px;
}

.baixo-botao {
    padding-bottom: 3%;
    margin-top: 1%;
    margin-right: 14%;
}

.side-nav a:hover { 
    background-color: #98C9A3 !important;
}

.color-nav{
    background-color: #3bafda;
    border-radius: 0;
    min-height: 70px;
}

.cor-botao{
    background-color: #3bafda !important;
}

.tamanho-icone{
    margin-top: 30px !important;
}

.justificar{
   text-align: justify;
   text-justify: inter-word;
}

.card-color{
    background-color: #36404a;
}

ul{
    list-style-type: circle;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #778899;
    opacity: 1; /* Firefox */
}

span.active {
    background-color: #ea454b;
}
