<section class="section">
<div class="container azul quadro-cadastro z-depth-5">
<a class="btn-floating green lighten-2" href="/telefones">
      <i class="material-icons">arrow_back</i>
    </a>
<h1 class="center">Novo Telefone</h1>

<%= render 'form', telefone: @telefone %>


