<div class="row baixo">
    <div class=" col s6 m6 l8 offset-s3 offset-m3 offset-l2">
        <div class="container">
            <div class="container-content center  ">
                <span class="container-title">
                    <h1>Seja Bem-vindo</h1>
                </span>
                <h5>Faça parte da nossa família e ajude milhares de pessoas de forma eficiente e 100% responsável. Lorem ipsum
                    dolor sit amet, consectetur adipiscing elit. Curabitur euismod porta massa at suscipit. </h5>
            </div>
            <div class="container-action hide-on-med-and-down">
                <a href="#" class=" waves-effect waves-light left btn-large ">Quero me cadastrar</a>
                <a href="#" class="waves-effect waves-light right btn-large ">Já possuo um cadastro</a>
            </div>
                 <div class="hide-on-large-only">
             <a href="#" data-activates="menu-mobile" class="button-collapse btn-large col s4 offset-s3">
                    <i class="material-icons">menu</i></a>
                <ul id="menu-mobile" class="side-nav">
                    <li><a href="#"><i class="material-icons">send</i>Quero me cadastrar</a></li>
                    <li><a href="#"><i class="material-icons">send</i>Já possuo um cadastro</a></li>
               </ul>     
                 </div>           
            
        </div>
    </div>
</div>

<script>
    $(".button-collapse").sideNav();
</script>