<div style="padding-top: 15%">
     <div class="row">
        <div class="col s3 m4"></div>
        <div class="col s6 m4">
          <div class="card blue-grey">
            <div class="card-content white-text">
              <span class="card-title">Sistema de Doação</span>
              <p>Faça parte da nossa família e ajude milhares de pessoas de forma 
              eficiente e 100% responsável.</p>
            </div>
            <div class="card-action">
              <a href="#">Quero me Cadastrar</a>
              <a href="#">Já possuo um cadastro</a>
            </div>
          </div>
        </div>
        <div class="col s3 m4"></div>
      </div>
</div>