<section class="section">
<div class="container red accent-4 white-text baixo z-depth-5">
    <div class="row ">
        <div  >
            <div class="container  ">
                <div class="container-content center ">

                    <span class="container-title">
                        <h1 class="flow-text">Seja Bem-vindo</h1>
                    </span>
                    <h5 class="flow-text">Faça parte da nossa família e ajude milhares de pessoas de forma eficiente e 100% responsável. </h5>
                </div>
                <div class="container-action hide-on-med-and-down">
                    <a href="#" class=" waves-effect waves-light left btn  blue lighten-3 black-text"><i class="material-icons">person_outline</i>Quero me cadastrar</a>
                    <a href="#" class="waves-effect waves-light right btn blue lighten-3 black-text"><i class="material-icons">person</i>Já possuo um cadastro</a>
                </div>
                <div class="hide-on-large-only ">
                   <a href="#" data-activates="menu-mobile" class="button-collapse btn-floating btn-large blue pulse right">
                    <i class="material-icons">touch_app</i></a>
                    <ul id="menu-mobile" class="side-nav">
                        <li><a href="#"><i class="material-icons">person</i>Quero me cadastrar</a></li>
                        <li><a href="#"><i class="material-icons">person_outline</i>Já possuo um cadastro</a></li>
                    </ul>     
                </div>           

            </div>
        </div>
    </div>
</div>
<section>
<script>
    $(".button-collapse").sideNav();
</script>