
<div class="row baixo">
    <div class="offset-s4 col s4 offset-s4">
        <div class="card teal darken-3">
            <div class="card-content white-text">
              <span class="card-title center">Sistema de Doação</span>
              <p class="fontes">Faça parte da nossa família e ajude milhares de pessoas de forma
        eficiente e 100% responsável.</p>
            </div>
            <div class="card-action">
              <a href="#" >Quero me cadastrar</a>
              
              <a href="#" >Já tenho cadastro</a>
            </div>
          </div>
    </div>

</div>