<section> 
	<div class="row">
		<div class="container card-color">
			<div class="col s6" align="center">
				<h5> O sistema </h5>
			</div>
			<div class="col s6" align="center">
				<h5> O NexTI</h5>
			</div>
		</div>
	</div>
</section>
<section class="section">
	<div class="row">
		<div class="container" style="padding-top: 15em;">
			<h5 align="center" > Links Úteis </h5>
			<div class="col s6" align="center">
				<img src="/assets/fapce.png">
			</div>
			<div class="col s6" align="center">
				<img src="/assets/logo-nexti.png">
			</div>
		</div>
	</div>
</section>