<header class="raiz">
	<div class="calloutContainer baixo">
		<h1 class="callout">
			Sobre nós 
		</h1>
		<h2 class="callout2">
			<div class= "justify">
				Faça parte da nossa família e ajude milhares de pessoas de forma eficiente e 100% responsável. Faça parte da nossa família e ajude milhares de pessoas de forma eficiente e 100% responsável. Faça parte da nossa família e ajude milhares de pessoas de forma eficiente e 100% responsável. Faça parte da nossa família e ajude milhares de pessoas de forma eficiente e 100% responsável. 
				Faça parte da nossa família e ajude milhares de pessoas de forma eficiente e 100% responsável. 
				Faça parte da nossa família e ajude milhares de pessoas de forma eficiente e 100% responsável. 
			</div>
		</h2>
	</div>
</header>