  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description">
    <meta name="author">

    <title>Sobre</title>

     <%= favicon_link_tag 'favicon.png'%>

    <link href="/assets/dashboard/switchery.min.css" rel="stylesheet" />

    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/dashboard/style.css" rel="stylesheet" type="text/css">
    <script src="/assets/dashboard/modernizr.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  </head>

  <body>

    <%= render '/layouts/nav_about' %>

    <div class="container" style="margin-top: 3em;">        
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <h4 class="page-title">Sobre</h4>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="question-q-box"><i class="far fa-hand-point-right" style="    line-height: 30px !important;"> </i></div>
              <h4 class="question">O sistema</h4>
              <p class="answer">O NexTI Doação é um sistema desenolvido pelo Núcleo de Extensão em Tecnologia da Informação (NExTI), da Faculdade Paraíso do Ceará (FAPC-CE) que tem como objetivo auxliar instituições filantrópicas no gerenciamento das suas doações.</p>
            </div>
            <div class="col-sm">
              <div class="question-q-box"><i class="far fa-hand-point-right" style="    line-height: 30px !important;"> </i> </div>
              <h4 class="question">O NExTI</h4>
              <p class="answer">O Núcleo de Extensão em Tecnologia da Informação (NExTI), é uma empresa júnior da Faculdade Paraíso do Ceará (FAPC-CE). Pretende através da prática acadêmica interligar a FAP nas suas atividades de ensino e de pesquisa, com as demandas da maioria da população e possibilitar a formação do profissional pertencente a uma instituição de ensino que se credencia, cada vez mais, junto à sociedade como espaço privilegiado de produção do conhecimento significativo para a superação das desigualdades sociais existentes.</p>
            </div>
            <div class="col-sm">
              <div class="question-q-box"><i class="far fa-hand-point-right" style="    line-height: 30px !important;"> </i> </div>
              <h4 class="question">Não consigo entrar na minha conta.</h4>
              <p class="answer"> <strong>1:</strong> Verifique se a senha ou e-mail informados na sessão de login condiz com o que foi preenchido no cadastro do usuário ou da instituição.
              </p>
              <p class="answer"> <strong>2:</strong> Sua conta pode ainda não ter sido ativada por um administrador.
              </p>
              <p class="answer"> <strong>3:</strong> Após o cadastro da instituição, deve-se checar a caixa de entrada do e-mail informado no formulário, você receberá um link para realizar o cadastro do usuário administrador da sua instituição. 
              </p>
>>>>>>> 845ceeb61561a102830b163652d8c3d4bea27370
            </div>
          </div>
        </div>

        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="question-q-box"><i class="far fa-hand-point-right" style="    line-height: 30px !important;"> </i></div>
                <h4 class="question">O sistema</h4>
                <p class="answer">O NexTI Doação é um sistema desenvolvido pelo Núcleo de Extensão em Tecnologia da Informação (NExTI), da Faculdade Paraíso do Ceará (FAP-CE) que tem como objetivo auxiliar instituições filantrópicas no gerenciamento das suas doações.</p>
                <p class="answer"> O sistema tem como principais funcionalidades o cadastro de colaboradores da instituição e o gerenciamento das doações, além de oferecer a possibilidade da geração de relatórios para cada doação e uma área intuitiva que exibe todas as estatísticas das doações para a instituição.</p>
              </div>
              <div class="col-sm">
                <div class="question-q-box"><i class="far fa-hand-point-right" style="    line-height: 30px !important;"> </i> </div>
                <h4 class="question">O NExTI</h4>
                <p class="answer">O Núcleo de Extensão em Tecnologia da Informação (NExTI), é uma empresa júnior da Faculdade Paraíso do Ceará (FAPC-CE). Pretende através da prática acadêmica interligar a FAP nas suas atividades de ensino e de pesquisa, com as demandas da maioria da população e possibilitar a formação do profissional pertencente a uma instituição de ensino que se credencia, cada vez mais, junto à sociedade como espaço privilegiado de produção do conhecimento significativo para a superação das desigualdades sociais existentes.</p>
              </div>
              <div class="col-sm">
                <div class="question-q-box"><i class="far fa-hand-point-right" style="    line-height: 30px !important;"> </i> </div>
                <h4 class="question">Não consigo entrar na minha conta.</h4>
                <p class="answer"> <strong>1:</strong> Verifique se a senha ou e-mail informados na sessão de login condiz com o que foi preenchido no cadastro do usuário ou da instituição.
                </p>
                <p class="answer"> <strong>2:</strong> Sua conta pode ainda não ter sido ativada por um administrador.
                </p>
                <p class="answer"> <strong>3:</strong> Após o cadastro da instituição, deve-se checar a caixa de entrada do e-mail informado no formulário, você receberá um link para realizar o cadastro do usuário administrador da sua instituição. 
                </p>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="page-title-box">
              <h4 class="page-title">Time de Desenvolvimento</h4>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="text-center card-box">
              <div class="member-card">
                <div class="">
                  <h4 class="m-b-5 mt-2">Davi</h4>
                  <p class="text-muted">Back-end Developer</p>
                </div>

                <div class="text-left m-t-40">
                  <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">davi@aluno.fapce.edu.br</span></p>

                  <p class="text-muted font-13"><strong>Localização:</strong> <span class="m-l-15">Juazeiro do Norte</span></p>

                  <p class="text-muted font-13"><strong>UF:</strong> <span class="m-l-15">CE</span></p>
                </div>

                <ul class="social-links list-inline m-t-30 mb-0">
                  <li class="list-inline-item">
                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://github.com/Davigl" data-original-title="Github"><i class="fab fa-github" style="    line-height: 30px !important;"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.linkedin.com/in/hasashisama" data-original-title="Linkedin"><i class="fab fa-linkedin" style="    line-height: 30px !important;"></i></a>
                  </li>

                  <li class="list-inline-item">
                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.telegram.org" data-original-title="@hasashisama"><i class="fab fa-telegram" style="line-height: 30px !important;"></i></a>
                  </li>
                </ul>
              </div>
            </div> <!-- end card-box -->
          </div> <!-- end col -->

          <div class="col-lg-4 col-md-6">
            <div class="text-center card-box">
              <div class="member-card">
                <div class="">
                  <h4 class="m-b-5 mt-2">Victor</h4>
                  <p class="text-muted">Front-end Developer</p>
                </div>

                <div class="text-left m-t-40">
                  <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">victor@aluno.fapce.edu.br</span></p>

                  <p class="text-muted font-13"><strong>Localização:</strong> <span class="m-l-15">Juazeiro do Norte</span></p>

                  <p class="text-muted font-13"><strong>UF:</strong> <span class="m-l-15">CE</span></p>
                </div>

                <ul class="social-links list-inline m-t-30 mb-0">
                  <li class="list-inline-item">
                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://github.com/vioctr" data-original-title="Github"><i class="fab fa-github" style="    line-height: 30px !important;"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.telegram.org" data-original-title="@vioctrs"><i class="fab fa-telegram" style="line-height: 30px !important;"></i></a>
                  </li>
                </ul>
              </div>
            </div> <!-- end card-box -->
          </div> <!-- end col -->


          <div class="col-lg-4 col-md-6">
            <div class="text-center card-box">
              <div class="member-card">
                <div class="">
                  <h4 class="m-b-5 mt-2">Édimo</h4>
                  <p class="text-muted">Gerente de Projeto</p>
                </div>

                <div class="text-left m-t-40">
                  <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">edimo.sousa@fapce.edu.br</span></p>

                  <p class="text-muted font-13"><strong>Localização:</strong> <span class="m-l-15">Juazeiro do Norte</span></p>

                  <p class="text-muted font-13"><strong>UF:</strong> <span class="m-l-15">CE</span></p>
                </div>

                <ul class="social-links list-inline m-t-30 mb-0">
                  <li class="list-inline-item">
                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://github.com/Davigl" data-original-title="Github"><i class="fab fa-github" style="    line-height: 30px !important;"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.linkedin.com/in/hasashisama" data-original-title="Linkedin"><i class="fab fa-linkedin" style="    line-height: 30px !important;"></i></a>
                  </li>
                </ul>
              </div>
            </div> <!-- end card-box -->
          </div> <!-- end col -->


        </div>

      </div>
      <%= render '/layouts/javascripts' %>

    </body>
    </html>