<div id="modal" class="modal">
    <div class="modal-content">
      <h4 align="center">Instituição</h4>
      <p align="center"><br>Verifique a caixa de entrada do seu e-mail para realizar o cadastro do seu usuário administrador.</p>
    </div>
    <div class="modal-footer">
      <a href="/#" class="modal-action modal-close waves-effect waves-green btn-flat">Voltar</a>
    </div>
</div>

<script>
 $(document).ready(function(){
    $('#modal').modal();
    $('#modal').modal('open'); 
 });
</script>