<div id="modal" class="modal">
    <div class="modal-content">
      <h4 align="center">Usuário</h4>
      <p align="center"><br>Seu usuário não foi ativado por um usuário admnistrador. Aguarde até a liberação do acesso. Clique no botão abaixo para retornar a página inicial.</p>
    </div>
    <div class="modal-footer">
      <a href="/#" class="modal-action modal-close waves-effect waves-green btn-flat">Voltar</a>
    </div>
</div>

<script>
 $(document).ready(function(){
    $('#modal').modal();
    $('#modal').modal('open'); 
 });
</script>
