


.card .card-title {
    font-size: 40px;
    
}
.fontes{
    font-size: 20px;
}

.baixo{
    padding-top:5%;
    padding-bottom: 5%;
    margin-top:5%;
    border-color: black;
    border-style: groove;
    border-width: thin;
}

 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 
 main {
     flex: 1 0 auto;
 }