
<!-- Begin page -->
<div id="wrapper">

  <!-- Top Bar Start -->
  <div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
      <div class="text-center">
        <a href="/" class="logo"><img src="/assets/logo-nexti-redimensionado.png" style="padding-left: 220px;"></a>
      </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <nav class="navbar-custom">
    </ul>

  </nav>
</div>