 <div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
      <!--- Divider -->
      <div id="sidebar-menu">
        <ul>
          <li class="menu-title"> Menu </li>

          <li>
             <a href="/dashboard"><i
              class="fa fa-signal"></i><span> Dashboard </span></a>
          </li>

          <div class="clearfix"></div>
       
          <li>
            <a href="/cadastros"><i
              class="far fa-address-card"></i><span> Cadastros </span></a>
          </li>
          
          <div class="clearfix"></div>
       
            <li>
              <a href="/colaborador"><i
              class="far fa-user"></i><span> Colaborador </span></a>
           </li>

           <li>
              <a href="/relatorios"><i
              class="far fa-file"></i><span> Relatórios </span></a>
           </li>
        </ul>

       </div>       
     </div>
   </div>